
.css-hxt7ib {
    padding-top: 22px;
    padding-left: 1rem;
    padding-right: 1rem;
}


p, ol, ul, dl {
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    padding-top: - 10px;
}


.css-pmxsec .exg6vvm15 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


.css-9ycgxx {

    margin-bottom: 0.25rem;
}

.css-7oyrr6 {
    color: rgba(250, 250, 250, 0.6);
    font-size: 14px;
    line-height: 1.25;
}

.css-16u8z0w.edgvbvh9{
    margin-top: 34px;
}

.css-18e3th9 {
    flex: 1 1 0%;
    width: 100%;
    min-width: auto;
    max-width: initial;
    padding-top:5px;
}

.css-2ykyy6 {
    display: block;
    color: rgba(250, 250, 250, 0.4);
    flex: 0 1 0%;
    font-size: 14px;
    min-width: auto;
    max-width: initial;
    /*padding: 0.5rem 1rem;*/
    width: 100%;
    padding-top:1px;
}
